[Unit]
Description=Leihs {{leihs_sync_name}} Sync Service
After=syslog.target
After=network.target
After=leihs-admin.service

BindsTo=leihs-admin.service

[Service]
Type=oneshot
RemainAfterExit=false
WorkingDirectory={{app_dir}}
User={{app_user}}
Group={{app_user}}
{% if prom_textfile_dir | default('') %}
Environment=PROM_TEXTFILE_PATH={{prom_textfile_dir}}/{{app_name}}-counts.prom
Environment=PROM_JOB_LABEL={{app_name}}
{% endif %}
ExecStart=/usr/bin/env java "-Xmx1g" "-jar" "{{app_dir}}/leihs-sync.jar" \
  "-c" "{{config_file_target}}" "run"

[Install]
WantedBy=multi-user.target

# vi: ft=sh
